*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Container_mainHeader_compnt{
    width: 100vw;
    height: 100px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300 !important;
    color: rgba(0,0,0, .8);
    background-color: white;
    max-width: 998px;
}   
#route_logo__title{
    text-decoration: none;
}

.box__title__logoPolyXein h3{
    color: rgba(0,0,0, .8);
    text-decoration: none;
}

.button_burgerMenu_open{
    background-color: white;
    cursor: pointer;
    border: none;
}

.icon__burgermenu{
    font-size: 44px;
    height: 44px !important;
    width: 44px !important;
    cursor: pointer;
}

.box__burgerNav{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    list-style: none;
    z-index: 100;
    padding: 24px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.showBurger{
    visibility: visible;
}

.closeWrapper__iconClose{
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    align-items: center;
    height: 200px !important;
    border: none;

}
.closeWrapper__iconClose button{
    background-color: white;
    cursor: pointer;
    border: none;
}

.CloseIcon__iconclose{
    font-size: 44px;
    height: 64px !important;
    width: 64px !important;
}

.box__burgerNav ul{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 70%;
    
}
.box__burgerNav li{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0, .2);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

#tag_link_route{
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.box__burgerNav footer{
    text-align: end;
    font-size: 1.2rem;
    opacity: 0.7;
}

@media (min-width: 800px){

    .icon__burgermenu{
        font-size: 84px;
        height: 58px !important;
        width: 58px !important;
        cursor: pointer;
    }
    .closeWrapper__iconClose button{
        background-color: white;
    }

    .CloseIcon__iconclose{
        font-size: 64px;
        height: 74px !important;
        width: 74px !important;
    }
}