*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contain_all_view{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container__blogOne{
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(23, 1fr);
    max-width: 810px;
}

.partUp__bgImg__blogOne{
    background-color:red;
    grid-column: 1/24;
    grid-row: 1/12;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);   
    grid-template-rows: repeat(12, 1fr); 
}
.container__buttons_tags{
    grid-column: 1/13;
    grid-row: 8/10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;

}
.container__buttons_tags p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    border: 2px solid white;
    width: 90px;
    height: 40px;
    font-size: 1.1rem;
    color: white;

    cursor: pointer;

}
.partUp__bgImg__blogOne h1{
    padding-left: 24px;
    padding-top: 12px;
    grid-row: 10/13;
    grid-column: 1/13;
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.partDown__paragraph__blogOne{
    grid-column: 1/24;
    grid-row: 12/24;

    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 32px;
}
.partDown__paragraph__blogOne p{
    text-align: justify;
    font-size: 1rem;
}
.partDown__paragraph__blogOne div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.button_readmore__blogOne{
    text-align: center;
    width: 100%;
    height: 50px;
    letter-spacing: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    font-family: cursive;
}
